* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  background-color: #06202a;
  color: white;
  font-family: Rajdhani, sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}
header {
  width: 100%;
  padding: 12px 0px;
  position: absolute;
}
.header-bar {
  display: none;
}

.header-row {
  display: flex;
  column-gap: 40px;
}
.header-content {
  width: 100%;
}

.header-top ul,
.header-bottom ul {
  display: flex;
  justify-content: flex-end;
  column-gap: 60px;
  margin-right: 0px;
  padding: 8px 0px;
  list-style: none;
  font-size: 16px;
}
.header-top ul li {
  display: flex;
  column-gap: 15px;
}
.banner {
  background-image: url(../image/br-banner.jpg);
  background-size: 70%;
  background-repeat: no-repeat;
  min-height: 150vh;
  display: flex;
  align-items: center;
}
.banner-container {
  width: 45%;
  margin-left: auto;
  margin-top: 100px;
}
.banner-text {
  width: 100%;
}
.banner h2 {
  text-transform: uppercase;

  font-size: 3rem;
  font-weight: 300;
  line-height: 1.1;
}
.banner p {
  width: 100%;
  padding: 15px;
  padding-left: 0px;
  font-size: 16px;
  line-height: 1.1;
}
.banner-btn {
  display: flex;
  column-gap: 20px;
}
.services {
  padding: 20px 0px;
  transform: translateX(0px) translateY(-200px);
}
.service-item {
  width: calc(100% / 3 - 10px);
  position: relative;
  overflow: hidden;
}

.service-list {
  width: 100%;
  display: flex;
  column-gap: 50px;
}
.service-img {
  width: 100%;
  height: 450px;
  object-fit: cover;
  transition: 0.5s;
}
.service-item:hover .service-img {
  scale: 1.1;
}

.service-text {
  background-color: #06202a;
  position: absolute;
  bottom: 0px;
  padding: 12px 0px;
  color: rgb(250, 250, 250, 0.8);
  transition: 0.3s;
}
.service-item:hover .service-text {
  background-color: transparent;
  position: absolute;
  bottom: 0px;
  padding: 12px 20px;
  color: rgb(250, 250, 250, 0.8);
}
.service-text h4 {
  font-size: 16 px;
  font-weight: 300;
  line-height: 3;
}
.service-text p {
  font-size: 16px;
  font-weight: 300;
  line-height: 1.7;
}
.banner2 {
  width: 100%;
  height: 514px;
  background-image: url(../image/banner2.jpg);
  background-repeat: no-repeat;

  background-size: 70%;
  margin-top: -100px;
  margin-bottom: 50px;
}
.banner2-effect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 100%;
  height: 514px;
  background-size: 100%;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 0.006039915966386533) 0%,
    rgba(6, 32, 42, 1) 58%
  );
}
.banner2-text {
  width: 40%;
}
.banner2-text h3 {
  font-size: 30px;
  font-weight: 300;
  line-height: 2.5;
}
.banner2-text p {
  font-size: 16px;
  font-weight: 300;
  line-height: 2;
}
.banner-btn {
  padding-top: 40px;
}
@media screen and (max-width: 970px) {
  header {
    background-color: #06202a;
    position: fixed;
    top: 0px;
    z-index: 100;
    padding: 12px 20px;
  }
  .header-content {
    display: none;
  }
  .header-bar {
    font-size: 32px;
    display: inline;
  }
  .header-row {
    display: flex;
    justify-content: space-between;
  }
  .banner-container {
    width: 70%;
    margin: 0px auto;
    margin-top: 350px;
  }
}
